<section class="contact">
  <h1 id="contact">Let's work together!</h1>

  <div class="wrap-social-media">
    <nav class="social-media">
      <a target="_blank" href="{{ site.github-link }}">{% include icons/github.html %}</a>
      <a target="_blank" href="{{ site.twitter-link }}">{% include icons/twitter.html %}</a>
      <a target="_blank" href="{{ site.facebook-link }}">{% include icons/facebook.html %}</a>
      <a target="_blank" href="{{ site.linkedin-link }}">{% include icons/linkedin.html %}</a>
    </nav>
  </div>

  <p>{{ site.email }}</p>

</section>
