<footer id="footer">
  <div class="lockup">
    <nav class="social-media">
      <a target="_blank" href="{{ site.github-link }}">{% include icons/github.html %}</a>
      <a target="_blank" href="{{ site.twitter-link }}">{% include icons/twitter.html %}</a>
      <a target="_blank" href="{{ site.facebook-link }}">{% include icons/facebook.html %}</a>
      <a target="_blank" href="{{ site.linkedin-link }}">{% include icons/linkedin.html %}</a>
    </nav>

    <nav class="menu">
      <a href="#about-me">About Me</a>
      <a href="#technologies">Technologies</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</footer>
