<section class="projects">
  <h1 id="projects">Featured Projects</h1>

  <div class="wrap">
    <div class="user-projects">
      <div class="image-proj1">
        <img alt="UMISS" src="{{ site.baseurl }}/assets/img/umiss-img.png" />
      </div>
      <div class="text-project">
        <h5> UMISS Project </h5>
        <li>IoT / Electronics Project / Front-End Dev</li>
        <p>Project and development of a motorized wheelchair with a signal acquiring
        for handicapped people. The system consists in an embedded system that controls
        the wheelchair motors and monitors the user. The collected data from ECG and GSR
        sensors can be acessed from a mobile app.</p>

      </div>

      <div class="proj1">

        <div class="image-proj2">
          <img alt="Liter Of Light" src="{{ site.baseurl }}/assets/img/ldl-img.jpg" />
        </div>
        <div class="text-proj2">
          <h5> Liter Of Light Brazil </h5>
          <li>Volunteer Work / Teamwork / Electronics Project </li>
          <p>Volunteer work as Operations and Technologies manager in the Brasília cell of the NGO Liter Of Light Brazil. Delivering sustainable light
          to low income communities with solar light poles and the knowledge of how they can build their own.</p>
        </div>
      </div>

    </div>
  </div>

</section>
