footer
  font-family: 'Open Sans'
  background: $accent

  .lockup
    width: 100%
    display: inline-block

  .social-media
    float: left
    margin: 10px 0 0 40px
    a
      padding-right: 20px

  .menu
    float: right
    @extend %menu-letter
    margin: 20px 20px 0 25px

    a
      padding-left: 20px
