.skills
  padding: 0 0 10px 0
section
  font-family: 'Open Sans'
  text-align: center

  h1
    padding-top: 20px
    @extend %title-letter
    text-align: center
    padding-bottom: 20px

  p
    display: inline-block
    color: #404040
    font-size: 15px
    max-width: 520px


  .skill-lockup
    max-width: 700px
    margin: 30px auto
    margin-bottom: 0px
    font-size: 15px
    color: $accent
    +clearfix

    .skill-unit
      width: 300px
      float: left
      padding-left: 50px

    .skill-icons
      font-size: 0
      margin-bottom: 30px

      span
        display: inline-block
        +size(10px)
        background-color: $accent
        margin-right: 10px
        border-radius: 50%


      @for $i from 1 through 10
        &.skill-#{$i} span:nth-child(n+#{$i+1})
          @extend %skill-color

  @media screen and (max-width: 541px)
    .skill-lockup
      width: 270px

  %skill-color
    background: $bgcolor
